body{
    text-align:center;
    font-family: "Lucida Console",  Helvetica;
}

.title {
    color: rgb(9, 61, 9);
    background-color:rgb(145, 192, 145);
    margin-bottom: 40px;
    font-size: 40px;
}

.title-image{
    border: 7px rgb(145, 192, 145) solid;
    margin-bottom: 15px;
}

/* description class is the description heading and body under a parent div */
.description{
    margin-bottom: 0px;
}

.description-head{
    background-color: rgb(9, 61, 9);
    color: white;
    width: 170px;
    padding: 5px;
    display: inline-block;
}

.description-body{
    display: inline-block;
    font-size: 20px;
}

/* body class is the ingredients and steps under a parent div*/
.body{
    display: inline-block;
    margin-bottom: 40px;

}

.ingredients,
.steps{
    color: black;
    display: inline-block;
    border: 7px solid rgb(145, 192, 145);
    width: 400px;
    height: 370px;
    vertical-align: top;
    margin: 0px 20px;
}

/* back button link*/
a{
    background-color: rgb(9, 61, 9);
    padding: 15px;
    font-size: 25px;
    color: white;
    margin: 0px 864px;
    display: block;
}